server:
  port: 8081
spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:~/test;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
openbanking:
  client-id: 1dbf4625-6a5e-4d99-bf7e-c7948ebbad02
  secret-id: 674dc26b-66c2-4769-ab42-71ebb8bdd508
  auth-code: Kt48DgY5Ha7mcYgTvvlmjs2JIJzN9c
  auth-url: https://testapi.openbanking.or.kr/oauth/2.0
  base-url: https://testapi.openbanking.or.kr/v2.0